<div class="container-calculator">
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
      <div class="container">
          <a href=""  class="navbar-brand" >E-Buddy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home">Dashboard</a>
              <a class="nav-link" href="#">Menu</a>
              <a class="nav-link" href="/video">Video</a>
              <a class="nav-link " href="/masatubuh">Calculator</a>
              <a class="nav-link " href="/tampilan">IMT</a>
            </div>
          </div>
          <div class="nav">
            <div class="justify-content-end">
              <a>
              <form method="POST" action="/logout?_method=DELETE" class="d-inline" >
                <button type="submit" class="btn btn-danger btn-sm">LOGOUT</button>
              </form>
              </a>
            </div>
          </div>
      </div>
    </nav>
  </div>

    <div class="info container-fluid text-center">
        <h1>Info Kalori</h1>
        <hr width="90%" size="3">
        <p>Rata-rata pria dewasa membutuhkan sekitar 2.500 kalori sehari. 
            Sedangkan wanita dewasa membutuhkan sekitar 2.000 kalori per hari. 
            Namun, perlu dipahami sebenarnya kebutuhan kalori per hari tiap orang bisa berbeda, 
            tergantung kondisi tubuh dan aktivitas.  Misalnya ibu hamil, 
            tentu membutuhkan kalori lebih banyak dibandingkan wanita pada umumnya.</p>
    </div>

    <div class="container-menu container-fluid text-center align-items-center">
        <hr width="90%" size="3">
        <h3>Menu Makanan kelas A</h3>
        <hr width="90%" size="3">
        
    <div class="row align-items-center text-center justify-content-center">
      <div class="col-sm">
        <div class="card h-350">
                <img src="gambar/bumbu_kuning.jpg" alt="Ayam Bakar Bumbu Kuning" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">Ayam Bakar bumbu Kuning</h5>
            <p class="card-text">Kalori : 129,4</p>
            <p class="card-text">Berat : 100 gram</p>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card h-350">
                <img src="gambar/ayam_panggang.jpg" alt="Ayam Panggang" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Ayam Panggang</h5>
              <p class="card-text">Kalori : 164,3</p>
              <p class="card-text">Berat : 100 gram</p>
            </div>
          </div>
      </div>

        <div class="col-sm">
          <div class="card h-350">
                    <img src="gambar/daging_panggang.jpg" alt="Daging Panggang" class="card-img-top">
                  <div class="card-body">
                  <h5 class="card-title">Daging Panggang</h5>
                  <p class="card-text">Kalori : 150</p>
                  <p class="card-text">Berat : 70 gram</p>
                </div>
        </div>
    </div>
    </div>

    <div class="row align-items-center text-center justify-content-center">

        <div class="col-sm">
          <div class="card h-350">
                <img src="gambar/pepes_ikan_mas.jpg" alt="Pepes Ikan Mas" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Ikan Mas Pepes</h5>
              <p class="card-text">Kalori : 143,5</p>
              <p class="card-text">Berat : 200 gram</p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/sambal_goreng_tempe.jpg" alt="Sambal Goreng Tempe" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Sambal goreng Tempe</h5>
                <p class="card-text">Kalori : 116</p>
                <p class="card-text">Berat : 50 gram</p>
              </div>
            </div>
        </div>
  

        <div class="col-sm">
          <div class="card h-350">
                      <img src="gambar/telor_asin.jpg" alt="Telur Asin" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Telur Asin Rebus</h5>
                    <p class="card-text">Kalori : 138</p>
                    <p class="card-text">Berat : 75 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <div class="row align-items-center text-center justify-content-center">

        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/telur_rebus.jpg" alt="telur rebus" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Telur Ayam Rebus</h5>
              <p class="card-text">Kalori : 138</p>
              <p class="card-text">Berat : 60 gram</p>
            </div>
          </div>
        </div>
  

        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/Udang_rebus.jpeg" alt="Udang rebus" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Udang Rebus</h5>
                <p class="card-text">Kalori : 91</p>
                <p class="card-text">Berat : 100 gram</p>
              </div>
            </div>
        </div>
      </div>

      <hr width="90%" size="3">
      <h3>Menu Makanan Kelas B</h3>
      <hr width="90%" size="3">

      <div class="row align-items-center text-center justify-content-center">

        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/ati_ayam.jpg" alt="Ati Ayam" class="card-img-top"  style="height: 270px;">
              <div class="card-body">
              <h5 class="card-title">Ati Ayam Goreng</h5>
              <p class="card-text">Kalori : 98</p>
              <p class="card-text">Berat : 50 gram</p>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/ayam_pop.jpg" alt="Ayam Pop" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Ayam Pop</h5>
                <p class="card-text">Kalori : 265</p>
                <p class="card-text">Berat : 200 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                      <img src="gambar/baso.jpeg" alt="Baso Sapi" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Bakso Daging Sapi</h5>
                    <p class="card-text">Kalori : 260</p>
                    <p class="card-text">Berat : 100 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <div class="row align-items-center text-center justify-content-center">
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/empal daging.jpg" alt="Empal Daging" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Empal Daging</h5>
              <p class="card-text">Kalori : 147</p>
              <p class="card-text">Berat : 100 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/ikan_bandeng.jpg" alt="Ikan Bandeng" class="card-img-top" style="height: 270px;">
                <div class="card-body">
                <h5 class="card-title">Ikan Bandeng Goreng</h5>
                <p class="card-text">Kalori : 180,7</p>
                <p class="card-text">Berat : 160 gram</p>
              </div>
            </div>
        </div>

        <div class="col-sm">
          <div class="card h-350">
                <img src="gambar/baronang.jpg" alt="Baronang Goreng" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Ikan Baronang Goreng</h5>
              <p class="card-text">Kalori : 107,5</p>
              <p class="card-text">Berat : 120 gram</p>
            </div>
        </div>
      </div>
      </div>

      <hr width="90%" size="3">
      <h3>Menu Makanan Kelas C</h3>
      <hr width="90%" size="3">

      <div class="row align-items-center text-center justify-content-center">

        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/abon_sapi.jpg" alt="Abon Sapi" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Abon Sapi</h5>
              <p class="card-text">Kalori : 158</p>
              <p class="card-text">Berat : 50 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/gulai ayam.jpeg" alt="Gulai Ayam" class="card-img-top" style="height: 270px;">
                <div class="card-body">
                <h5 class="card-title">Gulai Ayam</h5>
                <p class="card-text">Kalori : 165,3</p>
                <p class="card-text">Berat : 100 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                      <img src="gambar/gulai cumi.jpg" alt="Gulai Cumi" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Gulai Cumi</h5>
                    <p class="card-text">Kalori : 183</p>
                    <p class="card-text">Berat : 100 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <div class="row align-items-center text-center justify-content-center">
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/kripik tempe.jpg" alt="Keripik Tempe" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Kripik Tempe</h5>
              <p class="card-text">Kalori : 68</p>
              <p class="card-text">Berat : 25 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/perkedel_kentang.jpg" alt="Perkedel kentang" class="card-img-top" style="height: 260px;">
                <div class="card-body">
                <h5 class="card-title">Perkedel Kentang</h5>
                <p class="card-text">Kalori : 123</p>
                <p class="card-text">Berat : 50 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                      <img src="gambar/sate ayam.jpg" alt="Sate Ayam" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Sate Ayam</h5>
                    <p class="card-text">Kalori : 466</p>
                    <p class="card-text">Berat : 100 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <hr width="90%" size="3">
      <h3>Menu Makanan Sayuran Kelas A</h3>
      <hr width="90%" size="3">

      <div class="row align-items-center text-center justify-content-center">
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/sayur_asam.jpg" alt="Sayur Asam" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Sayur Asam</h5>
              <p class="card-text">Kalori : 88</p>
              <p class="card-text">Berat : 100 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/acar_kuning.jpg" alt="Acar Kuning" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Acar Kuning</h5>
                <p class="card-text">Kalori : 53</p>
                <p class="card-text">Berat : 75 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                      <img src="gambar/bayam_bening.jpeg" alt="Sayur Bayam" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Bening Bayam</h5>
                    <p class="card-text">Kalori : 18</p>
                    <p class="card-text">Berat : 50 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <div class="row align-items-center text-center justify-content-center">
        <div class="col-sm">
          <div class="card h-350">
                <img src="gambar/cah_labu.jpg" alt="Cah Labu" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Cah Labu Siam</h5>
              <p class="card-text">Kalori : 41,6</p>
              <p class="card-text">Berat : 100 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/sop_ayam.jpg" alt="Sop Ayam" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Sop Ayam Kombinasi</h5>
                <p class="card-text">Kalori : 95</p>
                <p class="card-text">Berat : 100 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                      <img src="gambar/sop_jagung.jpg" alt="Sop Mutiara Jagung" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Sop Mutiara Jagung</h5>
                    <p class="card-text">Kalori : 113</p>
                    <p class="card-text">Berat : 100 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <hr width="90%" size="3">
      <h3>Menu Makanan Sayuran Kelas B</h3>
      <hr width="90%" size="3">

      <div class="row align-items-center text-center justify-content-center">
        <div class="col-sm">
          <div class="card h-350">
                  <img src="gambar/sayur_lodeh.jpg" alt="Sayur Lodeh" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Sayur Lodeh</h5>
              <p class="card-text">Kalori : 61</p>
              <p class="card-text">Berat : 100 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">

              <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
              -->
                  <img src="gambar/tumis_buncis.jpg" alt="Tumis Buncis" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Tumis Buncis</h5>
                <p class="card-text">Kalori : 52</p>
                <p class="card-text">Berat : 100 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
          <div class="card h-350">
                  <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
                  -->
                      <img src="gambar/kacang_panjang.jpg" alt="Kacang Panjang" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Cah Kacang Panjang</h5>
                    <p class="card-text">Kalori : 72</p>
                    <p class="card-text">Berat : 100 gram</p>
                  </div>
          </div>
      </div>
      </div>

      <div class="row align-items-center text-center justify-content-center">
        <div class="col-sm">
          <div class="card h-350">
            <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
            -->
                <img src="gambar/tumis_daun_singkong.jpg" alt="Tumis Daun Singkong" class="card-img-top">
              <div class="card-body">
              <h5 class="card-title">Tumis Daun Singkong</h5>
              <p class="card-text">Kalori : 151</p>
              <p class="card-text">Berat : 120 gram</p>
            </div>
          </div>
        </div>
  
        <div class="col-sm">
            <div class="card h-350">
              <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
              -->
                  <img src="gambar/cah jagung.jpg" alt="Cah Jagung" class="card-img-top">
                <div class="card-body">
                <h5 class="card-title">Cah Jagung Putren</h5>
                <p class="card-text">Kalori : 95</p>
                <p class="card-text">Berat : 100 gram</p>
              </div>
            </div>
        </div>
  
        <div class="col-sm">
            <div class="card h-350">
                  <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
                  -->
                      <img src="gambar/sop_oyong.jpg" alt="Sop Oyong Telur Puyuh" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Sop Oyong Telur Puyuh</h5>
                    <p class="card-text">Kalori : 134</p>
                    <p class="card-text">Berat : 100 gram</p>
                  </div>
          </div>
      </div>
      </div>
    </div>

    <div class="footer-menu container-fluid text-end justify-content-center">
        <div class="row">
          <div class="col-5">
            <h3 class="text-center">E-Buddy</h3>
            <p>E-buddy merupakan aplikasi yang membantu anda dalam meningkatkan kualitas kehidupan anda dengan
              menjadikan anda dapat memantau index massa tubuh dan melakukan diet dari video yang sudah di sediakan.
            </p>
          </div>
          <div class="col">
            <p>Hubungi Kami</p>
            <div class="hubungi">
              <p><img src="gambar/telephone-handle-silhouette.png" alt="telephone">
              : +6229013940</p>
              <p><img src="gambar/email (1).png" alt="email"> : EBuddy@gmail.com</p>
            </div>
          </div>
          <div class="col">
            <P>Ikuti Kami</P>
            <a href="#"><img src="gambar/facebook.png" alt="facebook"></a>
            <a href="#"><img src="gambar/instagram.png" alt="instagram"></a>
            <a href="#"><img src="gambar/twitter.png" alt="twitter"></a>
            <a href="#"><img src="gambar/youtube.png" alt="youtube"></a>
          </div>
        </div>

        <smalltext class="text-center">Copyright © 2022 E-Buddy. All Rights Reserved.</smalltext>   
      </div>
