
      <section class="login d-flex">
          <div class="login-left w-100 h-100">
            <div class="row justify-content-center align-items-center h-100">
              <div class="col-6">
                <div class="header">
                  <h1>Selamat Datang</h1>
                  <p>Isi data dulu ya! jangan sampe ketinggalan ya</p>

                 
                  
                  <% if (typeof errors !== 'undefined'){ %>
                    <div class="alert alert-danger" role="alert">
                      <ul>
                          <%errors.forEach(errors => { %>
                            <li><%= errors.msg %></li>
                          <% }) %>
  
                      </ul>
                      
                    </div>
                  <% } %> 
                </div>
                <form method="POST" action="/register">
                <div class="registration-form">

                  <!-- nama -->
                  <label for="nama">Nama Lengkap</label>
                  <input  name= "fullname" type="nama" class="form-control" id="nama" placeholder="Nama Lengkap">
                  <!-- Login -->
                  <label for="email" class="form-label">Email</label>
                  <input name= "email" type="email" class="form-control" id="email" placeholder="Masukan Email">
  
                  <!-- password -->
                  <label for="password" class="form-label">Password</label>
                  <input name= "password" type="password" class="form-control" id="email" placeholder="Masukan Password">
                  

                  
                  <div class="text-center mr-3">
                    <button type="sumbit" class="btn btn-primary ml-2 mt-3 ">Daftar</button>
                  </div>

                  <div class="text-center mt-3 mr-5">
                    <span class="d-inline">Sudah punya akun? <a href="/login" class="d-inline text-decoration-none">Log in</a></span>
                  </div>
                </form>
                    
                </div>
              </div>
            </div>  
          </div>
  
          <div class = "login-right bg-dark w-100 h-100">
            <img src="/gambar/register.jpg" alt="">
          </div>
      </section>
