<div class="container-calculator">
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
      <div class="container">
          <a class="navbar-brand" href="#">E-Buddy</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/homepage">Dashboard</a>
              <a class="nav-link" href="#">Menu</a>
              <a class="nav-link" href="/video2">Video</a>
              <a class="nav-link " href="/masatubuh">Calculator</a>
              <a class="nav-link " href="/tampilan">IMT</a>
            </div>
          </div>
          <div class="nav">
            <div class="justify-content-end">
              <a>
              <form method="POST" action="/logout?_method=DELETE" class="d-inline" >
                 <button>Logout</button>
              </form>
              </a>
            </div>
          </div>
      </div>
    </nav>
  </div>
<section class="card container-fluid">
  <div class="container-ibm">
      <div class="row justify-content-center align-items-center">
          <div class="col-3">
              <div class="card " style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">Berat Badan</h5>
                 
                      <h6 class="card-subtitle mb-2 text-muted"><%= nama %></h6>
                      <p class="card-text">Index Massa Tubuh : </p>
                      <% if (!berat) {%>
                          <p>Belum menambahkan Berat badan</p> 
                      <%}else{%>
                            <p class="card-text"><%= berat %></p>
                      <% } %>
                      <a href="/masatubuh/edit/<%=id%>" class="btn btn-info badge">edit</a>
                      <form method="POST" action="/berat?_method=DELETE" class="d-inline" >
                         <input type="hidden" name="id" value="<%= id %>" />
                          <button type="submit" class="btn-danger badge">Delete</button>
                      </form>
                  </div>
                </div>
              
          </div>
      </div>
    </div>
  </div>