<div class="container-calculator">
  <nav class="navbar fixed-top navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">E-Buddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/homepage">Dashboard</a>
            <a class="nav-link" href="#">Menu</a>
            <a class="nav-link" href="/video2">Video</a>
            <a class="nav-link " href="/masatubuh">Calculator</a>
            <a class="nav-link " href="/tampilan">IMT</a>
          </div>
        </div>
        <div class="nav">
          <div class="justify-content-end">
            <a>
            <form method="POST" action="/logout?_method=DELETE" class="d-inline" >
               <button>Logout</button>
            </form>
            </a>
          </div>
        </div>
    </div>
  </nav>
</div>
  
  <div class="container-pilih container-fluid text-center align-items-center">

    <!-----------Menurunkan Berat Badan-------->
    <h3>Menurunkan Berat Badan</h3>
    <div class="row align-items-center text-center justify-content-center">
      <div class="col">
        <div class="card">
          <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
          -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="684" height="385" src="https://www.youtube.com/embed/0RAaxUoRkr4" title="7 Cara Mudah Menurunkan Berat Badan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </div>
            <div class="card-body">
            <h5 class="card-title">Menurunkan Berat Badan</h5>
            <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
            <a href="#" class="btn btn-primary">Pilih</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
            -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="684" height="385" src="https://www.youtube.com/embed/rsZqOh6fR20" title="5 LANGKAH MUDAH TURUN BERAT BADAN DALAM WAKTU 1 MINGGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="card-body">
              <h5 class="card-title">Menurunkan Berat Badan</h5>
              <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
              <a href="#" class="btn btn-primary">Pilih</a>
            </div>
          </div>
      </div>

        <div class="col">
            <div class="card">
                <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
                -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6e04T_3kQs4" title="CARA SEHAT MENURUNKAN BERAT BADAN DALAM 1 MINGGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                        <div class="card-body">
                        <h5 class="card-title">Menurunkan Berat Badan</h5>
                        <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
                        <a href="https://www.youtube.com/embed/6e04T_3kQs4" class="btn btn-primary">Pilih</a>
                    </div>
                </div>
        </div>

    </div>

    <!-------------------Menjaga Berat Badan------------------------->
    <h3>Menjaga Berat Badan</h3>
    <div class="row align-items-center text-center justify-content-center">
      <div class="col">
        <div class="card">
          <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
          -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="684" height="385" src="https://www.youtube.com/embed/dKOCQTA-PHQ" title="5 Tips Jitu Mempertahankan Berat Badan Setelah Diet - DOKTER SADDAM ISMAIL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
          </div>
            <div class="card-body">
            <h5 class="card-title">Menurunkan Berat Badan</h5>
            <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
            <a href="#" class="btn btn-primary">Pilih</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
            -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="684" height="385" src="https://www.youtube.com/embed/p0CI1nTeCBo" title="4 ELEMEN DIET! PAHAMI AGAR BERHASIL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="card-body">
              <h5 class="card-title">Menurunkan Berat Badan</h5>
              <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
              <a href="#" class="btn btn-primary">Pilih</a>
            </div>
          </div>
      </div>

        <div class="col">
            <div class="card">
                <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
                -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="684" height="385" src="https://www.youtube.com/embed/RFJmTzGZLY8" title="6 CARA MENJAGA BERAT BADAN SETELAH DIET | TIPS DIET | PART 4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                        <div class="card-body">
                        <h5 class="card-title">Menurunkan Berat Badan</h5>
                        <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
                        <a href="https://www.youtube.com/embed/6e04T_3kQs4" class="btn btn-primary">Pilih</a>
                    </div>
                </div>
        </div>
    </div>


        <!------------------------Menaikan Berat Badan--------------->
    <h3>Menaikan Berat Badan</h3>
    <div class="row align-items-center text-center justify-content-center">
        <div class="col">
        <div class="card">
            <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
            -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="684" height="385" src="https://www.youtube.com/embed/j-khHxPAoYk" title="Bagaimana Cara Menambah Berat Badan" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card-body">
            <h5 class="card-title">Menurunkan Berat Badan</h5>
            <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
            <a href="#" class="btn btn-primary">Pilih</a>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card">
            <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
            -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="684" height="385" src="https://www.youtube.com/embed/tUbH4bLLF6Y" title="Here are 10 more tips to gain weight:" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
                <div class="card-body">
                <h5 class="card-title">Menurunkan Berat Badan</h5>
                <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
                <a href="#" class="btn btn-primary">Pilih</a>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <!--<img src="./image/icon/weight-loss.png" class="card-img-top" alt="loss">
                -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="684" height="385" src="https://www.youtube.com/embed/RFJmTzGZLY8" title="6 CARA MENJAGA BERAT BADAN SETELAH DIET | TIPS DIET | PART 4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                    <div class="card-body">
                    <h5 class="card-title">Menurunkan Berat Badan</h5>
                    <p class="card-text">Pada bagian video ini bertujuan untuk menurunkan berat badan kamu.</p>
                    <a href="https://www.youtube.com/embed/6e04T_3kQs4" class="btn btn-primary">Pilih</a>
                </div>
            </div>
        </div>

    </div>
