*{
    font-family: 'Poppins', sans-serif;
}

/*============navbar=============*/

.container-navbar{
    background-color: antiquewhite;
}

.container-navbar a{
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
}

.container-navbar a:hover{
    color: rgb(96, 147, 242);
}

.container-navbar a{
    color: #000000;
}

/*==============login=============*/

.login{
    height: 100vh;

}

.header h1{
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    /* identical to box height */
    color: #000000;
}

.header p{  
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 13px;
}

.login-form label{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    color: #000000;
    margin-top: 8px;
}

.login-form input{
    background: #ffff;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 15px;
}

.login-form a{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;

}

.login-form .container{
    margin-top: 30px;
    margin-bottom: 20px;
}

.login-form .sign-in{
    width: 100%;
    height: 60px;
    background-color: #efefef;
    border-radius: 10px;
    color: black;
    border: 0px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 100px;
    padding-right: 100px;
    transition: 0.3s;
}

.login-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    /* identical to box height */


    color: #000000;
}
.login-form span a{
    font-weight: 600;
    transition: 0.2s;
}

.login-right img{
    height: 100%;
    width: 100%;
}

.login-form .sign-in:hover{
    color: rgb(96, 147, 242);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login-form span a:hover{
    color: rgb(96, 147, 242);
}

/*=============== Register ===================*/

.registration-form input{
    background: #ffff;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 5px;
}

.registration-form .container{
    margin-top: 30px;
    margin-bottom: 20px;
}

.registration-form .signup{
    width: 100%;
    height: 60px;
    background-color: #efefef;
    border-radius: 10px;
    color: black;
    border: 0px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 100px;
    padding-right: 100px;
    transition: 0.3s;
}

.registration-form .form label{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    color: #000000;
    margin-top: 8px;
}

.registration-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-top: 10px;
    margin-left: 47px;
}
.registration-form .login{
    font-weight: 600;
    transition: 0.2s;
    color: #000000;
}

.registration-form .signup:hover{
    color: rgb(96, 147, 242);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.registration-form span a:hover{
    color: rgb(96, 147, 242);
}

/*============calculator===============*/

.container-kalkulator{
    margin-top: 150px;
    margin-bottom: 150px;
}

.kiri{
    margin-left: 80px;
    margin-right: 80px;
}

.bagian-kiri label{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    color: #000000;
    margin-top: 25px;
}

.button-kiri{
    margin-top: 80px;
}

.button-kiri .hitung{
    width: 100%;
    height: 60px;
    background-color: #efefef;    
    border-radius: 10px;
    color: black;
    border: 0px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 100px;
    padding-right: 100px;
    transition: 0.3s;
}


.bagian-kiri input{
    border-radius: 1px;
    border-radius: 10px;
}

.bagian-kanan h2{
    margin-top: 30px;
}

.bagian-kanan p{
    margin-top: 10px;
}

.button-kiri .hitung:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(96, 147, 242);

}

/*============homepage============*/

.container-isian .logo{
    width: 300px;
    height: auto;
    margin-top: 80px;
}

.container .mulai{
    width: 210px;
    height: 52px;
    left: 251px;
    top: 568px;

    background-color: #efefef;
    border-radius: 10px;
    border: 2px;
    margin-bottom: 20px;
    transition: 0.3s;

}

.container-bawah .h3{
    margin-top: 30px;
}

.container-bawah img{
    width: 200px;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-bawah p{
    margin-top: 10px;
}

.container .mulai:hover{
    background-color: rgb(252, 191, 78);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container_berita_dashboard{
    margin-bottom: 50px;
}
.container_berita_dashboard ul{
    list-style-type: none;
}

.container_berita_dashboard li{
    padding-top: 20px;
}



/*===========IBM============*/

.ibm{
    height: 100vh;
}

.ibm .container-ibm{
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.ibm .container-ibm .isian-ibm label{
    padding-top: 10px;
}

.ibm .container-ibm input{
    border-radius: 10px;
}

.container-button{
    padding-top: 70px;
    padding-bottom: 70px;
}

.ibm .container-ibm .tambah{
    width: 100%;
    height: 60px;
    background-color: #efefef;
    border-radius: 10px;
    color: black;
    border: 0px;
    padding-top: 19px;
    margin-top: 30px;
    padding-bottom: 19px;
    padding-left: 100px;
    padding-right: 100px;
    transition: 0.3s;

}

.ibm .container-ibm .tambah:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(96, 147, 242);
}

/*=================profile card================*/

.gambar{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(/gambar/workout.avif);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.kartu{
    margin-top: 206px;
    margin-bottom: 170px;

}

.container-kartu{
    margin-left: 600px;
    margin-right: 600px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.kartu .container-card .tombol-card a{
    margin-left: 10px;
    color: #000000;
}

.profile button:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(96, 147, 242);
}

/*=====================Hello Page=====================*/

.hello_page{
    height: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(/gambar/hello_page.jpg);
    background-size: cover;
}

.hellopage{
    padding-top: 200px;
    padding-bottom: 150px;
    color: black;
}

.hellopage p{
    margin-top: 10px;
    padding-left: 60px;
    margin-right: 100px;
}

.hellopage button{
    border-radius: 10px;
    width: 200px;
    height: 60px;
    border: 2px black;
    margin-right: 85px;
    transition: 0.3s;
}

.hellopage .Login_hellopage{
    margin-top: 10px;
    background-color: orange;
}

.container_info{
    padding-bottom: 80px;
}

.container_info img{
    padding-bottom: 20px;
}

.container_asal{
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-tengah{
    background-color: #ffff;
}

.container-tengah .bagian-1 h4{
    margin-right: 60px;
}

.bagian-1 button{
    margin-right: 122px;
}

.container-tengah button{
    border-radius: 10px;
    width: 200px;
    height: 60px;
    border: 2px black;
    background-color: #efefef;

    transition: 0.3s;
}

.container-tengah img{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-tengah .bagian-2 h4, button{
    margin-left: 60px;
}

.footer{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
}

.footer button{
    margin-top: 20px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    border: 2px black;
    transition: 0.3s;

}

.hello_page .SignUp_hellopage:hover{
    color: rgb(96, 147, 242);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.hellopage .Login_hellopage:hover{
    background-color: rgb(252, 191, 78);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container-tengah button:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(96, 147, 242);
}

.footer button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(96, 147, 242);

}

/*=============video==================*/

.container-pilih{
    margin-top: 60px;
}

.container-pilih .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .3s;
}
.container-pilih h3{
    margin-top: 20px;
}

.container-pilih .card:hover{
    transform: scale(1.07);
}




/*=================menu===================*/

.info{
    padding-top: 100px;
}

.container-menu h3{ 
    margin: auto;
}

.container-menu .card{
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .4s;
}

.container-menu .card:hover{
   transform: scale(1.02); 
}

/*===================footer================*/
.footer-menu{
    margin-top: 20px;
    padding-top: 40px;
    padding-left: 20px;
    background-color: #f8f9fa;
    padding-bottom: 20px;
}
.footer-menu img{
    height: 30px;
}

.footer-menu .hubungi img{
    height: 20px;
}


